@font-face {
    font-family: "Comic Sans MS";
    src: url("assets/fonts/Comic.ttf") format("TrueType");
    font-weight: normal;
    font-style: normal;
}

html {
    font-size: 20px;
    background: rgba(235, 203, 114, 0.288);
}
body {
    font-family: sans-serif;
    margin: 0;
}
p, h1, h2, h3 {
    margin: 0;
}
header {
    justify-content: center;
    align-items: center;
    box-shadow: 0 0 50px 0 rgba(218, 110, 110, 0.226);
}
.container {
    display: flex;
    padding: 25px calc(50% - 500px);
}
.logo-img {
    height: 50px;
}
.logo-text {
    font-family: "Comic Sans MS", sans-serif;
}
main.container {
    flex-wrap: wrap;
    gap: 50px;
    padding-top: 50px;
    padding-bottom: 50px;
}
.card {
    width: 300px;
    padding: 30px;
    box-sizing: border-box;
    box-shadow: 0 0 12px 0 rgb(51, 168, 113);
    border-radius: 100px;
    cursor: zoom-in;
    background: #f4fffe;
    display: flex;
    flex-direction: column;
    gap: 15px;
    text-align: center;
}
.card:hover {
    transform: rotate(360deg);
    transition: 3.5s linear;
    box-shadow: 0 0 125px rgb(255, 208, 0), 18px 18px 18px rgba(81, 35, 245, 0);
}
.card p {
    display: flex;
    justify-content: space-between;
    padding: 0 20px;
}

.card-img {
    height: 175px;
    border-radius: 25px;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    opacity: 0.45;
}
.card:hover .card-img {
    opacity: 1;
    transition: 3s linear;
    border: 2.5px solid rgb(230, 251, 255);
}
footer {
    box-shadow: 0 0 5px 0 #0006;
}
.rate {
    display: flex;
}
.rate img {
    height: 10px;
}

.info-block {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: rgba(0, 0, 0, 0.658);
    align-items: center;
    justify-content: center;
    display: none;
}
.info-block.active {
    display: flex;
}
.info-wrapper {
    display: grid;
    grid-template-columns: repeat(2, 300px);
    gap: 0 50px;
    background-color: rgb(255, 255, 255);
    padding: 30px;
    border: 1px solid;
    border-radius: 10px;
    position: relative;
    max-width: 1000px;
}
.info-close {
    position: absolute;
    top: 10px;
    right: 10px;
    cursor: pointer;
    background-image: url(img/close.png);
    background-position: center 0;
    background-size: contain;
    background-repeat: no-repeat;
    width: 50px;
    height: 50px;
    border: 2px solid rgb(0, 0, 0);
}
.info-img {
    width: 100%;
    border: 2px solid rgba(0, 0, 0, 0.877);
     background: rgb(0, 0, 0);
}
.information h2 {
    font-family: "Comic Sans MS", sans-serif;
    margin-bottom: 30px;
}
.information h3 {
    margin-bottom: 30px;
}